.container,html,body{
 padding: 0;
 margin: 0;
 height: 100%;
}
.container{
  position: relative;
}
#demo{
  width: calc(100% - 150px);
  height: calc(100% - 60px);
  position: absolute;
  top: 60px;
  left: 150px;
}
#header
{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
  color: #ddd;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
}
#menu ul{
   list-style:none;
    background-image: none;
    background-position: 0;
    padding: 0px;
    margin: 0px;
}
#menu{
  width: 150px;
  height: calc(100% - 60px);
  position: absolute;
  top:60px;
  left:0px;
  background-color: #888;
  color: #fff;
  height: 100%;
  overflow: scroll;
}
#menu li{
  width: 150px;
  min-height: 35px;
  border-top: solid 1px #ddd;
}
#menu a.active{
  background-color: #000;
}
#menu a{
  display: block;
  line-height: 25px;
  box-sizing: border-box;
  padding: 5px;
  width: 150px;
  min-height: 35px;
  color: #fff;
  text-decoration: none;
}
#menu a:visited{
 color: #eee;
 text-decoration: none;
}
